.env
neural_network/training_data
/validation_data
/kagglecatsanddogs_5340
/conv_neural_network/training_data
/conv_neural_network/validation_data
/trained_models
/cnn_images_and_labels
/trained_dog_models
*.pth
*.zip